html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: $neutralLight;
  font-family: $font-family-roboto;
  color: $neutralDark;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: underline;
}

.body {
  background-color: $neutralLight;
}

.h1 {
  font-family: $font-family-roboto;
  font-size: $font-size-xxl;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
}

.h3 {
  font-family: $font-family-roboto;
  font-size: $font-size-xl;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
}
