.testimonial {
  &__heading {
    color: $white;
    font-size: 40px;

    @include respond-max($md) {
      max-width: 400px;
      line-height: 150%;
      text-align: center;
    }

    @include respond-max($sm) {
      max-width: 500px;
      margin-bottom: 30px;
      font-size: 30px;
    }
  }
  &__text {
    max-width: 596px;
    color: $secondary;
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    @include respond-max($sm) {
      margin-bottom: 30px;
      font-size: 17px;
    }
  }

  .client {
    @include display-flex;

    &__logo {
      @include display-flex;
      width: 150px;
      height: 96px;
      @include jc-flex-center;
      @include ai-flex-center;

      &.amazon {
        @include respond-max($md) {
          display: none;
        }
      }
    }

    &__profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url("../images/testimonial-section/profile.png");
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__info {
      @include display-flex;
      margin-left: 10px;
      @include flex-direction-col;
      @include jc-space-around;

      &__name {
        color: $primaryHover;
        font-size: 17px;
      }

      &__company {
        color: $neutralLightBlue;
        font-size: 13px;
      }
    }
  }

  .memoji {
    width: 150px;
    height: 150px;

    @include respond-max($md) {
      width: 130px;
    }

    &._1 {
      position: absolute;
      left: 5%;
      top: 10%;
      right: auto;
      bottom: auto;
      background-image: url("../images/testimonial-section/memoji-1.png");
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;

      @include respond-max($xs) {
        display: none;
      }
    }

    &._2 {
      position: absolute;
      left: 5%;
      top: auto;
      right: auto;
      bottom: 10%;
      background-image: url("../images/testimonial-section/memoji-2.png");
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;

      @include respond-max($xs) {
        top: 5%;
        bottom: auto;
        width: 100px;
        height: 100px;
      }
    }

    &._3 {
      position: absolute;
      left: auto;
      top: 10%;
      right: 5%;
      bottom: auto;
      background-image: url("../images/testimonial-section/memoji-3.png");
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      @include respond-max($xs) {
        display: none;
      }
    }

    &._4 {
      position: absolute;
      left: auto;
      top: auto;
      right: 5%;
      bottom: 10%;
      background-image: url("../images/testimonial-section/memoji-4.png");
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;

      @include respond-max($xs) {
        top: 5%;
        bottom: auto;
        width: 100px;
        height: 100px;
      }
    }
  }
}
